@{
    ViewData["Title"] = "Upload Document Pdf";
}
<h1>@ViewData["Title"]</h1>

<div>
    <label className="label font-bold">Upload Document PDF</label>
    <input id="fileIDPdf" onchange="handleFileChangePdf(event)" type="file" name="image" accept=".pdf" />
</div>

