@{
    ViewData["Title"] = "Upload Document Xlsx";
}
<h1>@ViewData["Title"]</h1>

<div>
    <label className="label font-bold">Upload Document Xlsx</label>
    <input id="fileIDXlsx" onchange="handleFileChangeXlsx(event)" type="file" name="image" accept=".xls" />
</div>

