@{
    ViewData["Title"] = "Upload Document";
}
<h1>@ViewData["Title"]</h1>

<div>
    <label className="label font-bold">Upload Image Product</label>
    <input id="fileID" onchange="handleFileChange(event)" type="file" name="image" accept=".xls" />
</div>

